body{
  margin: 0;
  padding: 0;
  background: url(pexel\ \(kopia\).jpeg) repeat;
  background-size: 700px;
}
.länkar li{
display: inline;

}
.box{
width: 450px; 
background: rgba(0,0,0,0.4);
padding: 40px;
text-align: center;
margin: auto;
margin-top: 5%; 
color: white;
font-family: 'century gothic', sans-serif; /* skriv stilen i boxen*/
}

.box-img {
  width: 100%;
  height: auto;
  transition: .4s ease;
  border-radius: 15%; /* rundar av sidorna på bilden */
}

.box-img:hover{
transform: scale(0.8);


}

.box h1{
font-size: 40px;
letter-spacing: 4px;
font-weight: 100;


}
.box h5{
font-size: 20px;
letter-spacing: 3px;
font-weight: 100;
font-family: 'Times New Roman', Times, serif
}
.box p{
text-align: justify;
font-family: sans-serif;
font-size: large;
}
ul{
  margin: 0;
  padding:0
}
.box li{
display: inline-block;
margin: 19px;
list-style: none;
}
.box li a{
color: white;
text-decoration: none;
font-size: 60px;

}
/* Media query för telefon */
@media screen and (max-width: 480px) {
  .box {
      width: 90%; 
      max-width: none; 
      padding: 20px; 
  }

  .box h1 {
      font-size: 30px; 
  }

  .box h5 {
      font-size: 16px; 
  }

  .box p {
      font-size: 18px; 
  }

  .box li a {
      font-size: 40px; 
  }
}

/* Media query för ipad */
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .box {
      width: 70%; 
  }

  .box h1 {
      font-size: 36px; 
  }

  .box h5 {
      font-size: 18px; 
  }

  .box p {
      font-size: 20px; 
  }

  .box li a {
      font-size: 48px; 
  }
}

/* Media query för datorer */
@media screen and (min-width: 1025px) {
  .box {
      width: 450px; /* Återställer bredden på boxen för större skärmar */
  }

  .box h1 {
      font-size: 40px; 
  }

  .box h5 {
      font-size: 20px; /
  }

  .box p {
      font-size: large; /* Återställer för större skärmar */
  }

  .box li a {
      font-size: 60px; 
  }
}


